<!-- Psuedo: A series of forms for the host to enter their information (submit/update/delete functionality) --> 
<!-- Host Profile -->  

{{name}}
{{!-- <ul>
    {{#each host}}
    <li>{{this.first_name}}</li>
    {{/each}}
</ul> --}}
{{!-- temporary h1 --}}

<h1>Host Profile</h1>

<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-8 cell">
            {{!-- <ul>
                <li>Name: {{first_name}} {{last_name}} </li>
                <li>Email: {{email}} </li>
                <li>Phone: {{phone}} </li>
                <li>City: {{city}} </li>
                <li>Bio: {{bio}} </li>
                <li>Host Dogs: {{is_pup}} </li>
                <li>Host Cats: {{is_cat}} </li>
                <li>Rate: ${{rate}} </li>
                <li>Day Sitting: {{short_term}} </li>
                <li>Boarding: {{long_term}} </li>
                <li>Host small pets (0-15lbs): {{small}} </li>
                <li>Host medium pets (16-40lbs): {{medium}} </li>
                <li>Host large pets (41-100lbs): {{large}} </li>
                <li>Host giant pets (100+lbs): {{giant}} </li>
                <li>You are available immediately: {{available}} </li>
            </ul> --}}
        </div>
    </div>
</div>


<!-- Profile of seeker you are currently booked with --> 

<div class="">
    <ul>
        {{!-- {{#each}} --}}
        <li>
            {{!-- {{seeker?}} --}}
        </li>
        {{!-- {{/each}} --}}
    </ul>
</div>