{!-- Psuedo: Render the results of a seeker's search query from index/landing page --}

<!-- button in the available host's li box to book that specific host -->

<h1>Results</h1>
<div class="">
    {{#each data}}
        <ul>
            <li>{{this.dataValues.first_name}} {{this.dataValues.last_name}}</li>
            <li>{{this.dataValues.email}}</li>
            <li>{{this.dataValues.phone}}</li>    
            <li>{{this.dataValues.city}}</li>    
            <li>{{this.dataValues.bio}}</li>    
        </ul>
        {{!-- Modal open button --}}
        <button  data-open="exampleModal1" type="submit" data-id="{{this.dataValues.id}}" class="button">Book</button>
    {{/each}}
</div>
<div class="reveal" id="exampleModal1" data-reveal>
    <form class="booking">
        {{!-- First Name --}}
        <label class="medium-6 cell">First Name:
            <input type="text" id="first-name" name="first_name" class="form-input input-group-field" required>
        </label>
        {{!-- Last Name --}}
        <label class="medium-6 cell">Last Name:
            <input type="text" id="last-name" name="last_name" class="form-input input-group-field" required>
        </label>
        {{!-- Email --}}
        <label class="medium-6 cell">Email:
            <input type="email" id="email" name="email" class="form-input input-group-field" required>
        </label>
        {{!-- Phone Number --}}
        <label class="medium-6 cell">Phone Number:
            <input type="text" id="phone" name="phone" class="form-input input-group-field" pattern="[0-9]{10}"
                title="Phone number should be 10 digit number without separators." required>
        </label>
        {{!-- Booking Submit Button --}}
        <button type="submit" class="button primary expanded cell" id="submitBooking-btn">Submit Booking</button>
    </form>
    {{!-- Close Modal Button --}}
    <button class="button primary expanded cell" data-close aria-label="Close modal" type="button">
        Cancel
    </button>
</div>